{% extends 'playpolitics/gamelayout.html' %}


{% block head %}

  <title>Playing politics</title>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/web.css" />    
{% endblock %}

{% block content%}
  <div class="wrapper clearfix">

    <article>

        <a href="{% url 'stateofnature' %}"><img src="{{ STATIC_URL }}img/octopus.png" alt="Demo image" /></a>             
        <h1>State of Nature</h1>

        <h4>Why is government necessary?</h4>
        <p>Many political philosophers, such as Thomas Hobbes and John Locke, claim that without a strong government there would be those who would steal, kill, enslave, or otherwise oppress those who are weak. To some people, this view is realistic. To others, it is depressing and pessimistic. Why can't people live peacefully and harmoniously without the authority of a government?</p>
        <p>  In this game, teams compete in a "state of nature," that is, a world without government. Your team may decide to live peacefully or brutally, in harmony or in conflict.</p>

        <hgroup><a href="{% url 'stateofnature' %}"><input class="b1" type="submit" value="Play!"></a></hgroup>
       
        
    </article>

  </div>

{% endblock %}
